# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Environment variables (local overrides)
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
testfile.txt
